{% extends "sdtd/lbbase.html" %}
{% block content %}

<h3>Download</h3>

First we will need to download the Valmod Overhaul to add it to our game.  Use the below link for the lastest download.
<br>
 <span style="color:ff0000;"><a href="https://github.com/7days2mod/Valmod-Overhaul/archive/master.zip">VALMOD OVERHAUL DOWNLOAD</a>.</span>
<br>

Next we will open the directory that holds the game files.  To do this right-click on 7 Days To Die in your Steam Library, and click on Properties.  
Under the "Local Files" tab click on Browse Files. This will open a new window containing your 7DTD files.
 Now in the navigation bar in the folder you should be seeing a path that says \Steam\steamapps\common\7 Days To Die     Click on common to go back one level.
<br><img class="alignnone size-full wp-image-670" src="https://alliancegaminggroupcom.files.wordpress.com/2017/08/common_link.png" alt="common_link" width="649" height="225" /><br>

You should now see the whole 7DTD folder.  Right-click and copy and paste the folder next to itself so that you have 7 Days To Die  &  7 Days To Die - Copy,  then go head and open the copy.
Going back to your download folder where you earlier downloaded the Valmod pack, open the zip file and extract the files somewhere, if necessary.
Once you have the zip file open simply drag and drop the Data and Mods folder from Valmod into your 7DTD-Copy Folder.
You should be asked to REPLACE some files, make sure to click YES to this. <br>
 We are almost done!
<br>
<img class="alignnone size-full wp-image-692" src="https://alliancegaminggroupcom.files.wordpress.com/2017/08/capture1.png" alt="Capture1" width="594" height="101" />
<br>
In your 7DTD - Copy folder there should be a file called  7DaysToDie_EAC . Double click this files and click on install when the window pops up (If prompeted to. EAC may already be installed on your system).
This may try to start running the game, if it does close the game out when you get a chance.  Next we right click the 7DaysToDie_EAC application file.
 Create a shortcut,  rename it 7DTD-MODDED, or something to where you will know the difference between your normal  shortcut to the game, and then place the shortcut where ever you want, like the desktop.
<br>
That's it you are done.  Make sure to Run the application the new Modded shortcut, so that you get all the nice new pictures and localization files.
<br>
If you have any problems with the install, feel free to contact me, and ill be glad to help you.
<br>
Good luck and have fun!

{% endblock %}
