{% extends "sdtd/lbbase.html" %}

{% block content %}

<span style="color: red;"><h1>Rules</h1></span>

<h4>These rules are for Lightbringer only!</h4>
 
<h5><span style="color: #ffd700;">This is a PVE server. PVP actions will not be tolerated and will result in jail time or a kick/ban.




NO WHINING, BEGGING,  GREIFING, HARRASSING, or BEING DISRESPECTFUL TO OTHER PLAYERS.</span></h5>
<h6>Being a bother to other players will result in a kick or ban. This includes refusing to leave a players property when asked to do so.</h6>
 
<h5><span style="color: #ffd700;">No Building or Claiming (LCB) within 250 blocks of Cities and Traders. Period.</span></h5>
<h6>Use the map to determine your base position. 1 block = 1 meter = 1 coordinate.</h6>
<h5>Any Build-Work or Land Claim Blocks (LCB) found in these areas, will be deleted, and your items will be given away.</h5>

<br>
<h5><span style="color: #ffd700;">No Claiming (LCB) of lootable areas</span></h5>
<h6>This includes Army bases, camps, bunkers, etc..<br>Any player found detroying lootable items (excluding cars, electronics, other wrenchable items) will be banned from the servers.</h6>
<h5>Any Build-Work or Land Claim Blocks (LCB) found in these areas, will be deleted, and your items will be given away.</h5>
<br>
<h5><span style="color: #ffd700;">Players are allowed to build in prefab standalone houses</span></h5>
<br>
<h5><span style="color: #ffd700;">Do Not Build On or Block Roads.</span></h5>
 <br>
<h5><span style="color: #ffd700;">Legal Raiding</span></h5>
<h6>Defined on this server as the looting of another players personal items, base, or land, that IS NOT protected by a Land Claim Block (LCB).  This is so players may take over bases of players no longer playing on the server. Players who befriend each other, are to treat each others base as if full LCB protection applies.  Players found "raiding" bases of "friends" will be banned.
Land Claim Blocks are set to expire after 7 days of being offline.  At this time your base is subject to legal raiding.  Any areas where LCB's are not placed is subject to looting.</h6>
<h5><span style="color: #ffd700;">Dropped backpacks from player deaths and Bases in the Community City, are the exception to this rule!!</span></h5>
 
<h5><span style="color: #ffd700;">Players are responsible for thier own land and base protection.</span></h5>
<h6>LCB size is set to 41 blocks. Meaning 20 blocks in every direction from where it is placed. The admin will not provide assistance to people who fail to lay LCB and protect their property. If a player needs to be offline for longer than 7 real-time days, and wishes for their base to be protected, you must contact and inform an admin.</h6>
 
<h5><span style="color: #ffd700;">Player backpacks are NOT to be touched by anyone other than the person who dropped it.</span></h5>
<h6>Stealing another persons bag will result in an One hour kick, and a deduction in zCoins.</h6>
 
<h5><span style="color: #ffd700;">The use of minibikes is allowed.</span></h5>
<h6>However, this is at the discretion of the admin and is subject to change, according to the needs of the server.</h6>
 
<h5><span style="color: #ffd700;">Zgates are allowed to be created in cities, however they must be made public, and named properly.</span></h5>
<h6>Do not name it anything like: zgate1,  #2, m4x2k, etc. Public zGate must identify to what they are (exp HubCity1,  DesertCity, TraderHugh, SnowTrader...etc).
Any private zGates found in cities will be deleted.
While the practice of making city and trader zGates is allowed, it is strongly discouraged by the admin. zGates are intended to be used as a personal means of continued exploration of the map and environment.</h6>


<h5><span style="color: #ffd700;">Turrets must have Stranger kill mode deactivated!</span></h5>
<h6>This is not a PVP server and PVP actions will not be tolerated. Players are however allowed to protect their base with the stranger kill mode, if and only if
the turrets are placed behind walls, and in a location to where it is blatantly obvious that a person has broke into your property. Players should not be getting killed for walking past a base.
Once that player decides to find a way over the protection wall and enters your plot, they are then subject to SKM of the turret. Example placement would be inside a house, or within a high retaining wall that is sealed of with locked doors.</h6>
 

{% endblock %}
