{% extends "sdtd/lbbase.html" %}

{% block content %}

<h3>BRING ON THE MODS!</h3>
Lightbring is our 3rd server and lives in the modded section of the server list.  Currently running Valmod Overhaul, and with admin mods coming soon, this
changes almost everything we know about the game.  Game difficulty has been increased slightly to offer a better experiance for the new items you are about to recieve.
Difficulty is set to 4, and feral mode is active.  However zombies still only run at night.  We think this will provide a fair balance to the changes.
<br>Players must download and install Vlamod Overhaul to properly play the game.<br>
Valmod starts us off by making the player choose one of several premade classes.  This class comes with a suitcase, opened
by the given in a new players inventory, containing server items to get the player started.  Building will be greatly limited at the beginning
with Valmods new skill system.  Adding carpentry and several other new skills, players are tested and required to do some work before goodies are unlocked.
Food as another great thing brought to us.  Valmod OH introduces more food than we can shake a stick at. (Why dont we have sticks in-game?) Hamburgers,
jams, and clay bowls are all new ways to fill your belly and keep you scavenging for more. Silenced weapons, hollowpoint rounds, colored armor, and more await you
inside of Lightbringer - Valmod Overhaul.

{% endblock %}
