{% extends "sdtd/dsbase.html" %}

{% block content %}

<h2>Straight PVP</h2>
<br>
<h5>Zombies are no longer your only enemy!  Alliance-Gaming brings its much requested PVP server online.  A full zone PVP with a small city safe zone, players are at constant
  risked of being attacked and raided.  Slighty raised zombie difficulty means players should always watch their backs for the dead and the living.
  A bounty system in introduced to help take out those wanted any annoying players and give players a bit something extra do do with their zCoins.  Players can feel a bit safer when ofline as the multiplier for
  LCB protection is set for x32.  So think smart, watch your back, and protect your stuff at all times!  Welcome to PVP.

{% endblock %}
