{% extends "sdtd/wwbase.html" %}

{% block content %}
<h1>Welcome to Whisperwind!</h1>
<h5>Whisperwind (WW) is our flagship server. Formerly known as 'Ashbringer', and then 'Ironforge'.  WW is a server that is ran with the Building Playstyle in mind.  Meaning here on WW we encourage players to build
  their wildest creations, and can expect a bit of help along the way.  Unique to Whisperwind are a few things to help the builder / crafter in their work.  The Admin-stocked Market is an invaulable tool to
  anyone who wants to focus on their build rather than what is happening in the world.  With shops for food, ammo, seeds, basic building materials, and a special store for players to sell their goods to other players, this is a dream-land to the builder.  Underneath the
  market, we expand a bit further on the build goodies with the Secret Stash (SS).  The SS is the standard servers equivelant to the Creative Menu in game.  Items like poi lights, i-beams, sinks, ovens, and more,
  allows the player to add some unique elements to their base that wont normally be found on other servers.  We have one more addition to help the builder, and this is an extention of the SS.  The Admin Market (AM).
  The admin market is a very special addition to the Secret Stash that fills in the gaps, of items that are not normally priced for a vending machine.  This is the feactor that detrmines if it is an SS item or an AM item.
  If it can be place in a vending machine with a normal and preset price, it will be sold in the SS, all other items will be sold in AM.  AM will include things like house and commercial doors, street lights, cars, and more.
  Yes, i said cars.  Another unique element to WW is the Trader Mall.  This was Alliance-Gamings solution to the trader glitch problem.  The mall has 6 traders inside and is convieniantly located in the community city next to the Market.
  Building is not the only aspect we thought about, we also knew players would need to protect their builds while trying to complete them.  Enter: The Pit!   Built by the admin the Pit is a place for the community to come together and fight
  on bloodmoon nights, with an auto repair command, and layers of stainless steel, it it the perfect place to fight and loot the bloodmoon nights without worrying about damage to the masterpiece you are building. Next we have the Community City, a "city" being
  built by the players themselves.  Home to the mall, market, and Admin, the community is an intimate setting with players building in close proximity to each other.  Players are allow use use as much land as they think they need, but once and area is defined a player must
  confine all buildwork to their own plot area. These are usually easily visually determinable by common sense.   So, with these Features and Many more planned for the future, Whisperwind is the perfect choice for any player who wants
  to really explore the building aspect of the game while being in a strong multiplayer enviroment.
  
{% endblock %}
