 {% extends "main/base.html" %}

{% block content %}
<br>
<br>
<br>




          <div class="inner cover">
            <h1 class="cover-heading">Alliance-Gaming</h1>
            <h2>Dedicated Servers</h2>
            <h3>Free and Pay-Per-Slot servers.</h3>
            <br><br>
            <h4>Please Choose your Game to continue....</h4>
          </div>

            <div class="row">
              <div class="col-sm-1"></div>
                <div class="col-sm-3">
                <a href="/7dtd">
                <img src="\static\images\7dtdlink.png" alt="7 Days to Die" style="width:500px;height:325px;border:0;">
                </a>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-md-3">
                <a href="#">
                <img src="\static\images\dnllink.png" alt="Dark and Light">
                </a>
                <h4>Dark and Light Coming Soon to Alliance-Gaming!</h4>
              </div>
              <div class="col-sm-1"></div>
            </div>



            <br>

        <div class="cover-container"
          <div class="mastfoot">
            <div class="inner">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QD49EPMNXVSQ2">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
              <p>Alliance-Gaming Group &copy 2017  --  alliance.gaming.manager@gmail.com</p>

              <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="GXSZNEPQDTRJE">
                <table>
                <tr><td><input type="hidden" name="on0" value="Monthly Donation Amount">Monthly Donation Amount</td></tr><tr><td><select name="os0">
                  <option value="Tier I">Tier I : $5.00 USD - monthly</option>
                  <option value="Tier II">Tier II : $10.00 USD - monthly</option>
                  <option value="Tier III">Tier III : $15.00 USD - monthly</option>
                  <option value="Tier IV">Tier IV : $20.00 USD - monthly</option>
                </select> </td></tr>
                <tr><td><input type="hidden" name="on1" value="Server">Server</td></tr><tr><td><select name="os1">
                  <option value="Whisperwind">Whisperwind </option>
                  <option value="Karazhan">Karazhan </option>
                  <option value="Lightbringer">Lightbringer </option>
                  <option value="Northshire Valley">Northshire Valley </option>
                  <option value="Daggerspine">Daggerspine </option>
                </select> </td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form> -->


            </div>
          </div>
        </div>


      </div>

    </div>
{% endblock %}
