{% extends "sdtd/karabase.html" %}

{% block content %}

<h3>Welcome to Your Death</h3>
Karazhan is second in our server line up.  Maxed out completely with, level 6, Feral Mode, AND zombies always run, this is the most difficult way to play 7DtD.  We have also limited the commands
availabe to you.  Players should expect to die often until a base and weapons have been established.  Players are given a bit of help at the beginning
with a single use command that will give a weapon ammo and health kits. <br> Players should be warned, this is Lotus' play/pet server and he is always looking for new ways to keep the difficulty up.  Revive may disappear as may the /home.<br>
Players who are looking for a hard mode, that is not batsh** crazy, are encouraged to go to the modded Lightbringer or Daggerspine-PVP.<br>
<h4> This is what hard mode was meant to be.</h4>

{% endblock %}
