{% extends "sdtd/wwbase.html" %}

{% block content %}
<span style="color: red;"><h1>Donations</h1></span>
<h3>All donations are greatly appreciated!</h3>

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Why do we ask for donations?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Well, the servers that you play on are owned and ran by players as a courtesy for other players. These servers, and sometimes the licensing with it (for 3rd Party applications),
        is paid for and maintained by the Admins. Some players are considerate enough to help make sure a server is funded and will be running for at least the next couple months.
        Any donation made to Alliance-Gaming are used directly for the servers and nothing else.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Donation Info
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Be sure to put your game name and server in the Paypal ‘purpose’ field to ensure proper benefits.<br>
        Donation Perks: Players will need to specify which server they wish to recieve perks on.<br>
        Perks are Server Specific.  If you donate to one sever, but decide to switch to another, you must donate to that server to recieve its perks.<br>
        Previous donations DO NOT stack with future donations, unless otherwise stated by the Admin or in a game message.<br>
        All transactions are individual and final.<br>
        <h5>PLEASE NOTE THAT PERKS ARE NOT INSTANT!!! AN ADMIN MUST LOG ON IN ORDER TO GRANT PERKS.  ADMINS ARE ON DAILY AND HAVE ALERTS FOR THE GAME.
        WE WILL DO OUR BEST TO PROVIDED TO APPROPRIATE PERKS AS SOON AS POSSIBLE.  THANK YOU FOR YOUR UNDERSTANDING AND PATIENCE.
        FOR DONATION INQUIRIES OR PROBLEMS, PLEASE EMAIL US AT ALLIANCE.GAMING.MANAGER@GMAIL.COM</h5>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Disclaimer
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Thank you for your consideration to donate!  Note that donating does not mean you are now above rules, admins, other players, or general manners.<br>
        You are donating to ensure the continued support of this server and because you enjoy the perks, benefits and general gameplay, and community of the server.<br>
        This does not mean you will decide how the server is ran or who is banned/allowed.<br>
        Breaking rules can and will result in Kicks/Bans despite donation amount or status.
      </div>
    </div>
  </div>
</div>
<br>
<br>
<h2>Donation Tiers For Whisperwind</h2>
<h3>Single Donations</h3>

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading0">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse0" aria-expanded="false" aria-controls="collapse0">
          Map Permissions --  --  $1
        </a>
      </h5>
    </div>

    <div id="collapse0" class="collapse" role="tabpanel" aria-labelledby="heading0" data-parent="#accordion">
      <div class="card-body">
        Access to see the web map of the entire world that ALL players have uncovered.  No additional permissions. e.g. animals zombies, self location.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading1">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
          Tier I  --  --  $5
        </a>
      </h5>
    </div>

    <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion">
      <div class="card-body">
        100 Mana<br>
        +50 zCoins to wallet,<br>
        500 Dukes Coins,<br>
        Map Permission-Animals<br>
        Map Permission-Zombies<br>
        Taza's Stone Axe (600)
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading2">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
          Tier II  --  --  $10
        </a>
      </h5>
    </div>
    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordion">
      <div class="card-body">
        250 Mana<br>
         +250 zCoins to wallet, <br>
         +2500 Dukes Coins<br>
         Map Permission-Animals<br>
         Map Permission-Zombies<br>
         Taza's Stone Axe (600)<br>
         Military Armor (300)<br>
         1 weapon of choice w/ Schematic and 250 Ammo<br>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading3">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
          Tier III  --  --  $20
        </a>
      </h5>
    </div>
    <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion">
      <div class="card-body">
        500 Mana<br>
        +750 zCoins to wallet<br>
        10,000 Dukes Coins<br>
        Map Permission-Animals<br>
        Map Permission-Zombies<br>
        Taza's Stone Axe (600)<br>
        1 weapon of choice w/ Schematic and 250 Ammo<br>
        Heavy Bandit Armor (600)<br>
        Compound Bow +  250 arrows
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading4">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Tier IV  --  --  $30
        </a>
      </h5>
    </div>
    <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
      <div class="card-body">
        1000 Mana<br>
        +1000 zCoins to wallet<br>
        15,000 Dukes Coins
        Map Permission-Animals<br>
        Map Permission-Zombies<br>
        Taza's Stone Axe (600)<br>
        1 weapon of choice w/ Schematic and 250 Ammo<br>
        Military Armor (600)<br>
        Base Back-Up. (See Admin for details)<br>
        Perks carry over to A17
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading5">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Tier V  --  --  $40
        </a>
      </h5>
    </div>
    <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion">
      <div class="card-body">
        1500 Mana<br>
        +1500 zCoins to wallet<br>
        20,000 Dukes Coins
        Map Permission-Animals<br>
        Map Permission-Zombies<br>
        Taza's Stone Axe (600)<br>
        2 weapons of choice w/ Schematic and 500 Ammo for each<br>
        Military Armor (600)<br>
        Base Back-Up. (See Admin for details)<br>
        Perks carry over to A17
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Super Donor  --  --  $50
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        2500 Mana<br>
        +2500 zCoins to wallet<br>
        50,000 Dukes Coins
        Map Permission-Animals<br>
        Map Permission-Zombies<br>
        Taza's Stone Axe (600)<br>
        2 weapons of choice w/ Schematic and 500 Ammo for each<br>
        Military Armor (600)<br>
        Base Back-Up. (See Admin for details)<br>
        Perks carry over to A17<br>
        3 Free services from "Pay with zCoin" Admin Services<br>
        1 Free service from "Pay wish Cash" Admin Services<br>
        City Named after you, with a custom Teleport Command. i.e.: Lotusville, /VisitLotusville<br>
        (Note: You will have the option for make the teleport command public or private)
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Ultimate Donor  --  --  $100+
        </a>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        Base Back-Up. (See Admin for details)<br>
        Perks carry over to A17<br>
        3 Free services from "Pay with zCoin" Admin Services<br>
        1 Free service from "Pay wish Cash" Admin Services<br>
        Reserved Slot. <br>
        City Named after you, with a custom Teleport Command. i.e.: Lotusville, /VisitLotusville<br>
        (Note: You will have the option for make the teleport command public or private)<br>
        5000 zCoins PLUS Creative Mode Privlages. (NOTE: these privalges come with special rules )<br>
        Why are we allowing Creative Mode? Isn’t that Pay-to-Win? — We don’t think it is with a game like this. What is winning on 7 Days to Die? Surviving one horde night?
        Finally gathering all the parts to the Sniper Rifle? Or maybe, it finishing that impenatrable castle? We think each player has their own idea of winning.
        Alot of people have been playing this game since very early on and have restarted more times than they can count. Most of the time these people just want to keep building and crafting.
        And that what the Whiperwind server has always catered to… The Builder. Alliance-Gaming will have other servers that do not allow CM privleges, and will cater to other styles of play.
        We also feel that at this donor level we are pretty much ensured that the player only wants to build/play the game and not manipulate the game or harrass other players.
        These players still fall under EVERY rule of the server and even have more rules to follow. These players can and still will get banned for violations. And no one wants to pay $100 to get banned.
        We do not take this lightly. If you have any questions or concerns as to how this may affect you or the gameplay PLEASE email me @ Alliance.Gamining.Manager@gmail.com
      </div>
    </div>
  </div>


<br>
<br>
<h3>Monthly Subscriptions</h3>
<h5>OPD = On payment Date.  Meaning the day your doantion goes through every month.  Single Donation Perks will be given on first donation, OPD will be given starting the 1st recurring payment</h5>

    <div class="card">
      <div class="card-header" role="tab" id="heading6">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
            Tier I  --  --  $5
          </a>
        </h5>
      </div>
      <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordion">
        <div class="card-body">
          100 Mana - OPD<br>
          +250 zCoins to wallet - OPD<br>
          10,000 Dukes - OPD<br>
          Tazas Stone Axe (600) - OPD<br>
          500 Rounds of ammo - OPD<br>
          10 Barrels of Gas - OPD<br>
          Perks of Tier I
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="heading7">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
            Tier II  --  --  $10
          </a>
        </h5>
      </div>
      <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7" data-parent="#accordion">
        <div class="card-body">
          250 Mana - OPD<br>
          +500 zCoins - OPD<br>
          20,000 Dukes - OPD<br>
          Tazas Stone Axe (600) - OPD<br>
          Military Armor (300) - OPD<br>
          1000 rounds of ammo - OPD<br>
          25 Barrels of Gas - OPD<br>
          Perks of Tier II
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" role="tab" id="heading8">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
            Tier III  --  --  $15 (The WoW Special)
          </a>
        </h5>
      </div>
      <div id="collapse9" class="collapse" role="tabpanel" aria-labelledby="heading9" data-parent="#accordion">
        <div class="card-body">
          500 Mana - OPD<br>
          +1000 zCoins to wallet - OPD<br>
          Tazas Stone Axe (600) - OPD<br>
          Military Armor (600) - OPD<br>
          1500 rounds of ammo - OPD<br>
          50 Barrels of Gas - OPD<br>
          Chainsaw + Auger (600) - OPD<br>
          25 units of Diamonds - OPD<br>
          100 units of Gold - OPD<br>
          250 units of Silver - OPD<br>
          Minibike (600)<br>
          Creative Mode Option (after 6 payemnts)<br>
          Perks of Tier IV
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" role="tab" id="heading10">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
            Tier IV  --  --  $20
          </a>
        </h5>
      </div>
      <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordion">
        <div class="card-body">
          1000 Mana - OPD<br>
          +2000 zCoins to wallet - OPD<br>
          Tazas Stone Axe (600) - OPD<br>
          Military Armor (600) - OPD<br>
          2500 rounds of ammo - OPD<br>
          75 Barrels of Gas - OPD<br>
          Chainsaw + Auger (600) - OPD<br>
          Minibike (600)<br>
          Creative Mode Option (after 3 payemnts)<br>
          Perks of Tier V
        </div>
      </div>
    </div>



</div>
      <nav class="nav justify-content-center">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="GXSZNEPQDTRJE">
        <table>
        <tr><td><input type="hidden" name="on0" value="Monthly Donation Amount">Monthly Donation Amount</td></tr><tr><td><select name="os0">
          <option value="Tier I">Tier I : $5.00 USD - monthly</option>
          <option value="Tier II">Tier II : $10.00 USD - monthly</option>
          <option value="Tier III">Tier III : $15.00 USD - monthly</option>
          <option value="Tier IV">Tier IV : $20.00 USD - monthly</option>
        </select> </td></tr>
        <tr><td><input type="hidden" name="on1" value="Server">Server</td></tr><tr><td><select name="os1">
          <option value="Whisperwind">Whisperwind </option>
          <option value="Karazhan">Karazhan </option>
          <option value="Lightbringer">Lightbringer </option>
          <option value="Northshire Valley">Northshire Valley </option>
          <option value="Daggerspine">Daggerspine </option>
        </select> </td></tr>
      </table><br>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </nav>


{% endblock %}
