{% extends "sdtd/wwbase.html" %}

{% block content %}

<span style="color: red;"><h1>Rules</h1></span>

<h4>These rules are for Whisperwind only!</h4>
 
<h5><span style="color: #ffd700;">This is a PVE server. PVP actions will not be tolerated and will result in jail time or a kick/ban.




NO WHINING, BEGGING,  GREIFING, HARRASSING, or BEING DISRESPECTFUL TO OTHER PLAYERS.</span></h5>
<h6>Being a bother to other players will result in a kick or ban. This includes refusing to leave a players property when asked to do so.</h6>
 
<h5><span style="color: #ffd700;">No Building or Claiming (LCB) within 250 blocks of Cities and Traders. Period.</span></h5>
<h6>Use the map to determine your base position. 1 block = 1 meter = 1 coordinate.</h6>
<h5>Any Build-Work or Land Claim Blocks (LCB) found in these areas, will be deleted, and your items will be given away.</h5>
<h5><span style="color: #ffd700;">No Building or Claiming of ANY Game-Made Structure.</span></h5>
<h6>This includes: Houses, Camps, Army Camps, Army Bases, Bunkers or Anything that contains loot for players. This is the ensure there will be loot available as the game progresses in days.</h6>
<h5>Any Build-Work or Land Claim Blocks (LCB) found in these areas, will be deleted, and your items will be given away.</h5>
 
<h5><span style="color: #ffd700;">Do Not Build On or Block Roads.</span></h5>
 
<h5><span style="color: #ffd700;">Legal Raiding</span></h5>
<h6>Defined on this server as the looting of another players personal items, base, or land, that IS NOT protected by a Land Claim Block (LCB).  This is so players may take over bases of players no longer playing on the server. Players who befriend each other, are to treat each others base as if full LCB protection applies.  Players found "raiding" bases of "friends" will be banned.
Land Claim Blocks are set to expire after 7 days of being offline.  At this time your base is subject to legal raiding.  Any areas where LCB's are not placed is subject to looting.</h6>
<h5><span style="color: #ffd700;">Dropped backpacks from player deaths and Bases in the Community City, are the exception to this rule!!</span></h5>
 
<h5><span style="color: #ffd700;">Players are responsible for thier own land and base protection.</span></h5>
<h6>LCB size is set to 41 blocks. Meaning 20 blocks in every direction from where it is placed. The admin will not provide assistance to people who fail to lay LCB and protect their property. If a player needs to be offline for longer than 7 real-time days, and wishes for their base to be protected, you must contact and inform an admin.</h6>
 
<h5><span style="color: #ffd700;">Player backpacks are NOT to be touched by anyone other than the person who dropped it.</span></h5>
<h6>Stealing another persons bag will result in an One hour kick, and a deduction in zCoins.</h6>
 
<h5><span style="color: #ffd700;">The use of minibikes is allowed.</span></h5>
<h6>However, this is at the discretion of the admin and is subject to change, according to the needs of the server.</h6>
 
<h5><span style="color: #ffd700;">Zgates are allowed to be created in cities, however they must be made public, and named properly.</span></h5>
Do not name it anything like: zgate1,  #2, m4x2k, etc. Public zGate must identify to what they are (exp HubCity1,  DesertCity, TraderHugh, SnowTrader...etc).

While the practice of making city and trader zGates is allowed, it is strongly discouraged by the admin. zGates are intended to be used as a personal means of continued exploration of the map and environment.

 
<h5><span style="color: #ffd700;">Explosives are not allowed at the Pit!</span></h5>
 
<h5><span style="color: #ffd700;">Turrets must have Stranger kill mode deactivated!</span></h5>
<h6>This is not a PVP server and PVP actions will not be tolerated. Players are however allowed to protect their base with the stranger kill mode, if and only if
the turrets are placed behind walls, and in a location to where it is blatantly obvious that a person has broke into your property. Players should not be getting killed for walking past a base.
Once that player decides to find a way over the protection wall and enters your plot, they are then subject to SKM of the turret. Example placement would be inside a house, or within a high retaining wall that is sealed of with locked doors.</h6>
 
<h3><span style="color: red;">RULES OF THE COMMUNITY CITY:</span></h3>
<h5><span style="color: #ffd700;">These Rules apply to ALL PLAYERS!!</span></h5>
 
<h5>1. DO NOT be in the city during or at the start of a bloodmoon.  Doing so will result in a 24 hour ban from the server. Continued violations will result in a permanent ban."</h5>
This is to protect the property and player bases in the community. Being in the community during a bloodmoon causes a very high chance of zombies spawning inside of someones base and causing damage while trying to escape.
For this, anyone found in the Community City During a bloodmoon, will be banned for 24 Hours and will pay a fine with zCoins.
<h5>2. NO TUNNELS.   Underground activity must be confined to your plot!</h5>
When you build in the community city you are building within close proximity to others. In every situation so far a player defines out the amount of land they want and then protects it with LCB's. At this point this is your defined community plot.
Any digging or mining done should be confined to your LCB area. Digging out of your area takes away resources from other players. What may be open land now may soon be someones plot. And while building a base a player discovers that someone has already dug out their land
frustrates and inconveniences both the admin and the player.
<h5>3. Raiding of any base or destroying anything in the Community City will result in a ban.</h5>
The community city is under full protection of the Admin. When a players LCB expires their bases is still protected and is NOT to be touched or raided. The plot will be given away or sold by the admin for zCoins, at
the appropriate time. Any player found tampering with ANY base will be permanently banned.
<h5>4. If your LCB expires, there is a high chance for your property to be given away.</h5>
building in the community City mean you are and active player and plan to be on the server for a while and would like to contribute to the building of the city. If you are offline for 14 days, you plot will be sold or given away by the admin.
If you require to be offline for linger than this, please inform the admin, so the he can lay additional protection.
<h5>Be mindful that we are building a city!</h5>
When laying out your land and building your bases, please try to think about how this will affect the city layout. Things like roads, street lights, pois, and lootables, are hard to place when there is no
structure or organization to the build. Use your map and decide if you should scoot over a bit to allow a road, or to line up with another building. We want a city, not a clusterf***.




<span style="color: #ffd700;">These are not the indefinite set of rules and can be changed, taken away, added or modified at the need or will of the Admin.  Common Sense Rules do apply.</span>

{% endblock %}
