{% extends "sdtd/dsbase.html" %}

{% block content %}

<h2> <span style="color: red;"><h1>Donations</h1></span>
<h3>All donations are greatly appreciated!</h3>

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Why do we ask for donations?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Well, the servers that you play on are owned and ran by players as a courtesy for other players. These servers, and sometimes the licensing with it (for 3rd Party applications),
        is paid for and maintained by the Admins. Some players are considerate enough to help make sure a server is funded and will be running for at least the next couple months.
        Any donation made to Alliance-Gaming are used directly for the servers and nothing else.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Donation Info
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Be sure to put your game name and server in the Paypal ‘purpose’ field to ensure proper benefits.<br>
        Donation Perks: Players will need to specify which server they wish to recieve perks on.<br>
        Perks are Server Specific.  If you donate to one sever, but decide to switch to another, you must donate to that server to recieve its perks.<br>
        Previous donations DO NOT stack with future donations, unless otherwise stated by the Admin or in a game message.<br>
        All transactions are individual and final.<br>
        <h5>PLEASE NOTE THAT PERKS ARE NOT INSTANT!!! AN ADMIN MUST LOG ON IN ORDER TO GRANT PERKS.  ADMINS ARE ON DAILY AND HAVE ALERTS FOR THE GAME.
        WE WILL DO OUR BEST TO PROVIDED TO APPROPRIATE PERKS AS SOON AS POSSIBLE.  THANK YOU FOR YOUR UNDERSTANDING AND PATIENCE.
        FOR DONATION INQUIRIES OR PROBLEMS, PLEASE EMAIL US AT ALLIANCE.GAMING.MANAGER@GMAIL.COM</h5>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Disclaimer
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Thank you for your consideration to donate!  Note that donating does not mean you are now above rules, admins, other players, or general manners.<br>
        You are donating to ensure the continued support of this server and because you enjoy the perks, benefits and general gameplay, and community of the server.<br>
        This does not mean you will decide how the server is ran or who is banned/allowed.<br>
        Breaking rules can and will result in Kicks/Bans despite donation amount or status.
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<h2>Donation Tiers For Daggerspine</h2>

<br>

<span style="color: #ffd700;"><h3>Due to the nature of PVP games, we cannot offer our normal donation perks, as this would cause the server to be pay-to-win.
  Players who do donate can be offered the teir perks of another Alliance-Gaming PVE server on THAT server.  This is for players who wish to player on 2 servers.
  Donors will be given an extra chest spot in the locker room.</h3></span>

  <div id="accordion" role="tablist">
    <div class="card">
      <div class="card-header" role="tab" id="heading0">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapse0" aria-expanded="false" aria-controls="collapse0">
            Map Permissions --  --  $1
          </a>
        </h5>
      </div>

      <div id="collapse0" class="collapse" role="tabpanel" aria-labelledby="heading0" data-parent="#accordion">
        <div class="card-body">
          Access to see the web map of the entire world that ALL players have uncovered, and see your LCB claims.  No additional permissions. e.g. animals zombies.<br>
        </div>
      </div>
    </div>

    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="heading1">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
              Map Permissions --  --  $5
            </a>
          </h5>
        </div>

        <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion">
          <div class="card-body">
            Access to see the web map of the entire world that ALL players have uncovered.  Additional permissions:  Animal Location  Zombie Location.<br>
            Mining helmet (300)
          </div>
        </div>
      </div>

      <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="heading2">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Locker Room --  --  $5
              </a>
            </h5>
          </div>

          <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body">
              1 extra spot in the Locker Room for 1 month
            </div>
          </div>
        </div>

        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="heading3">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  Locker Room --  --  $10
                </a>
              </h5>
            </div>

            <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion">
              <div class="card-body">
                1 extra spot in the Locker Room for 3 months
              </div>
            </div>
          </div>

          <div id="accordion" role="tablist">
            <div class="card">
              <div class="card-header" role="tab" id="heading4">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Locker Room --  --  $15
                  </a>
                </h5>
              </div>

              <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
                <div class="card-body">
                  3 extra spots in the Locker Room for 3 months
                </div>
              </div>
            </div>

  </div>

{% endblock %}
