{% extends "sdtd/dsbase.html" %}

{% block content %}

<h2><span style="color: red;"><h1>Rules</h1></span>

<h4>These rules are for Daggerspine only!</h4>
 
<h5><span style="color: #ffd700;">This is a Player Vs Player server!</span>

<br>
<br>

<span style="color: #ffd700;"><h5>Any player level 5 or UNDER is OFF Limits for PVP.</h5></span>
<h6>To ensure players get a fair start to the game, and a chance to get a defense, Players under level 6 should not participate in PVP.  Higher level player are
allowed to kill these players unless attacked first by the lower level player.  Any person found killing players level 5 or under, will be banned.  Consequently
players level 5 and under will also be banned for participating in PVP actions.  If provoked higher levels should avoid pvp retaliation, unless the lower level poses a significant threat.
The PVP bounty system should be used for these situations.  Admin should be informed in any questionable situation.</h6>

<br>

<h5><span style="color: #ffd700;">NO WHINING, BEGGING,  GREIFING, HARRASSING, or BEING DISRESPECTFUL TO OTHER PLAYERS.</span></h5>
<h6>Being a bother to other players, or chat spamming will result in a kick or ban, or just your repeated death.</h6></h2>
<br>
<h5><span style="color: #ffd700;">Players are allowed to build anywhere.</span></h5>
<h6>This includes cities, prefabs, and other areas.  Since the is a full PVP server and raiding is allowed, we feel this week keep a good rotation of loot going through the game.</h6>
<br>
<h5><span style="color: #ffd700;">Players are responsible for thier own land and base protection.</span></h5>
<h6>LCB size is set to 100 blocks. Meaning 99 blocks in every direction from where it is placed. There is also a 75 block deadzone, meaning players who are not friends cannot places claims within 75 blocks of each other.
The admin will not provide assistance to people who fail to lay LCB and protect their property. If a player needs to be offline for longer than 7 real-time days, and wishes for their base to be protected, you must contact and inform an admin.</h6>
<br>

<h5><span style="color: #ffd700;">The use of minibikes is allowed.</span></h5>
<h6>However, this is at the discretion of the admin and is subject to change, according to the needs of the server.</h6>
<br>
<span style="color: #ffd700;"><h5>No Team Bullying/Raiding<h5></span>
<h6>To try to ensure a fair and balanced PVP server, we will not allow the use of group to bully new players.
<br>
<span style="color: #ffd700;">These are not the indefinite set of rules and can be changed, taken away, added or modified at the need or will of the Admin.  Common Sense Rules do apply.</span>

{% endblock %}
